<div class="bgd">

  <div class="jumbotron">
    <app-ngb-carousel></app-ngb-carousel>
  </div>

  <div class="container-fluid bg-3 text-center">

    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <p-card styleClass="ui-card-shadow">
            <p-header><br>
              <img src="Card" src="../../../../../assets/mario.png">
            </p-header>
            JUEGOS
            <p-footer>
              <button type="button" class="btn btn-success" routerLink="/games" >Acceder</button>
            </p-footer>
          </p-card>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <p-card styleClass="ui-card-shadow">
            <p-header><br>
              <img src="Card" src="../../../../../assets/resultados.png">
            </p-header>
            RESULTADOS
            <p-footer>
              <button type="button" class="btn btn-success">Success</button>
            </p-footer>
          </p-card>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <p-card styleClass="ui-card-shadow">
            <p-header><br>
              <img src="Card" src="../../../../../assets/config.png">
            </p-header>
            CONFIGURACION
            <p-footer>
              <button type="button" class="btn btn-success">Success</button>
            </p-footer>
          </p-card>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>