<p>
    <strong>
        <i class="far fa-id-card fa-sm"></i>
        Jugador:
    </strong> Daniel</p>
<p>
    <strong>
            <i class="far fa-check-circle fa-sm"></i>
        Puntaje Juego :
    </strong>
    200 pts <br>
    <p>
        <strong>
                <i class="far fa-check-circle fa-sm"></i>
            Puntaje Total :
        </strong>
        6200 pts </p>

    <h4>
        <i class="far fa-list-alt fa-sm"></i>
        Ranking de jugadores
    </h4>

    <ul>
        <li>Daniel: 6200 pts</li>
        <li>Sabrina: 200 pts</li>
        <li>Juan: 2300 pts</li>
        <li>Graciela: 500 pts</li>
        <li>Pablo: 800 pts</li>
        <li>Colo22: 1700 pts</li>
    </ul>