<div class="row">
  <div class="col-sm-8">
    <h1> {{ nombreJuego }} {{ msg }} </h1>

    <hr>

    <div class="correcto">
      <h1> ¿ Cual es la Capital de {{ correcto?.pais }} ? </h1>
      <img src='{{ correcto?.bandera }}' />
    </div>

    <br>

    <div class="grid">
      <div class="row">
        <div class="col-sm-6 col-xs-6 border border-danger" *ngFor="let item of opciones">
          <br><br>
          <p> <strong>{{ item.capital }}</strong></p>
          <button (click)='verificar(item)'>Elegir</button><br><br>
        </div>
      </div>
    </div>

    <br>
  </div>

  <div class="col-sm-4">
    <br>
    <button (click)="reload()">Volver a jugar</button>
    <button routerLink="/home">Inicio</button>
    <hr>

    <app-aside></app-aside>
  </div>
</div>